<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>categorias</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid >
    <ion-row>
      <ion-col size="12">
        <ion-select (ionChange)="selectCategory($event)" fill="outline" justify="space-between" label="Categorias"
        interface="popover" value="Beef" placeholder="Select Category">
            <ion-select-option *ngFor="let cat of myCategories"
             [value]="cat.strCategory">{{cat.strCategory}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <ion-row >
    <ion-col size-Xs="12" sizeSm="6" sizeMd="4" sizeLg="3" class="ion-no-padding"  *ngFor="let f of comida" >
      <app-food-card [food]="f"></app-food-card>
    </ion-col>
  </ion-row>
</ion-grid>

</ion-content>

